if [ "$(uname)" == "Darwin" ]; then
export PYTHONPATH=/Applications/QGIS.app/Contents/Resources/python:$PYTHONPATH
export PATH=/Library/Frameworks/GDAL.framework/Programs:$PATH
export PATH=$PATH:/Applications/Postgres.app/Contents/Versions/latest/bin
export GISBASE=/Applications/GRASS-6.4.app/Contents/MacOS/
export DOCKER_HOST=tcp://192.168.59.103:2376
export DOCKER_CERT_PATH=~/.boot2docker/certs/boot2docker-vm
fi
export CLICOLOR=1
export EDITOR='vim'
export CMDSTAN=/home/nathan/.cmdstan/cmdstan-2.26.1
export WORKON_HOME=~/.virtualenvs
VIRTUALENVWRAPPER_PYTHON='/usr/bin/python3'
source /usr/local/bin/virtualenvwrapper.sh
